<nav>

    <div>
        <a href="/">
            <h1>Welcome noober</h1>
        </a>
        <p>Put tank in a mall</p>
    </div>
    <ul>


        <li><%= user.email %></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/logout">Log out</a></li>
        
        <li><a class="btn" href="/signup">Sign up</a></li>

        <li><a href="/create">create blogs</a></li>

    </ul>
</nav>